<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <button
    class="btn btn-primary"
    (click)="onChangedFirst()"
  >Change</button>
  <button
  class="btn btn-danger"
  (click)="onDesrFirst()"
>Change</button>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name"
      >
      <p #paragraph>Some Test</p>
    </app-server-element>
    </div>
  </div>
</div>
