<hr>
<div class="container">
  <div class="row">
    <app-game-control (onGameRun)="GameRunHundler($event)"></app-game-control>
  </div>

  <hr>

  <div class="row results">
    <div class="col-md-6">
      <ng-container *ngFor="let number of numbers">
        <app-even *ngIf="number % 2 === 0" [number]="number"></app-even>
      </ng-container>
    </div>
    <div class="col-md-6">
      <ng-container *ngFor="let number of numbers">
        <app-odd *ngIf="number % 2 !== 0" [number]="number"></app-odd>
      </ng-container>
    </div>
  </div>
</div>